body{
  margin:0;
  font-family: Arial, Helvetica, sans-sans-serif;

}
html {
  scroll-behavior: smooth;
}
.hovering:hover{
  border: 3px solid transparent;
}


.Homeimg {

    max-width: 100%;

}

/* project*/
.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2%;
  background-color: #fff;
  color: #444;
  margin-left: 4%;
  margin-right: 5%;
  margin-bottom: 4%;
}


.projectIMG:hover .image{
  opacity:0.3;

}
.projectIMG .text{
  color: black;
  font-size: 5vw;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity:0;

}

.projectIMG:hover .text
{
	opacity:0.9;

}



/* project*/

.resumeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  width: 60%;

}
.topnav{
  display: relative
  overflow: hidden;
  position:fixed;
  z-index: 99999;
  top:0;
  width: 100%;
  background-color: #000000;

}
.topnav .icon {
  display: none;
}
.topnav a{
  float:left;
  color:#FFFFFF;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 3px solid transparent;

}

.topnav a:hover{
  border-bottom: 1px solid white
}


.titlesection{
  position: static;
  padding: 75px 0px 30px 0px;
  font-size: 42px;
  font-weight: bold;


}
.graybackground{
  background-color: gray;
  height: 100%;
  position: absolute;

  left: 0;
  width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered{
  position:absolute;
  top:30%;
  left: 27%;
  padding-left: auto;
  padding-right: auto;

  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);

  font-size:5vw;
}
.profilePic{
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 350px;
}
.content{
  position:absolute;
  bottom: 0;
  width: auto;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.8);
  line-height: 1.5;


}
.bigger {
  font-size:150%;
}
.linkinIcon{
  height: 35px;
  weight: 35px;
  padding-right: 30px;
  padding-bottom: 30px;

  position:fixed;
  right: 0;
  bottom: 0;
}
.pdfIcon{
  height: 40px;
}
.pdfIcon:hover{
   border: 3px solid transparent;
}
.firstskillscontent{
  margin-top: -1px;
  text-align: center;
  font-size: 22px;
}
.skillscontent{
  padding-top: 40px;
  text-align: center;
  font-size: 22px;
}
.skillsIcon{
  height: 30px;
  width: 30px;
  padding-right: 15px;
}
.contentMax{
  max-height:200px;
}
.ImgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.AboutMe{
  white-space: normal;
  font-size: 20px;
  text-align: justify;
  padding-right: 15%;
  padding-left: 15%;

}
.contentHead{
  font-size: 32px;
}
.contentFont{
  font-size: 18px;
}
.downloadLink{
  margin-left: auto;
  margin-right: auto;
  color:orange;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
  .titlesection{
    font-size: 32px;
  }
  .linkinIcon{
    position:static;

  }
  .content{
    position:static;
    margin-bottom: 10px;
    margin-top: -20px;
    padding-top: 10px;
  }
  .contentHead{
    font-size: 18px;
  }
  .contentFont{
    font-size: 12px;
  }
  .profilePic{
    width: 50%;
    height: auto;
  }
  .resumeimg{
    width: 90%;
  }
  .linkinIcon{
    display: none;
  }
  span{
     display: block;
  }

}


@media screen and (max-width: 992px) {
  .AboutMe{
    padding-right: 10%;
    padding-left: 10%;
  }
  .centered{

    font-size:5vw;
    padding-left: auto;
    padding-right: auto;
  }

}

footer {
  bottom: 0;
  width: 100%;
  position:fixed;

  background-color: black;
  color: white;
  text-align: center;

  font-size: 18px;


}
.footerText {
     font-size: 18px;
}
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className == "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
